.sec_1 {
  h1 {
    text-transform: uppercase;
    font-size: 13rem;
    margin-top: -40px;
  }
  .desc_top {
    text-transform: uppercase;
    font-size: 9rem;
    font-weight: 600;
    word-spacing: -20px;
    margin-top: -30px;
  }
  img{
   width: 100%;
  }
}
